<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<div class="container">
  <div class="row">
    <a class="btn btn-lg btn-link pull-right" href="./">
      <i class="glyphicon glyphicon-home pull-left"></i><span>Go back to search</span>
    </a> 
  </div>
	<h1>URLs Control Page</h1>
  {% if pages %}
	<div class="well">
	    <table class="table">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>Url</th>
	          <th class="text-right">Action</th>
	        </tr>
	      </thead>
	      <tbody>
          {% for page in pages %}
	        <tr>
	          <td>{{ forloop.counter }}</td>
	          <td>{{ page.url }}</td>
	          <td class="text-right">
	              <a href="{% url 'update_url' page.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
	              <a href="{% url 'delete_url' page.id %}" role="button"><i class="glyphicon glyphicon-remove"></i></a>
	          </td>
	        </tr>
          {% endfor %}
	      </tbody>
	    </table>
	</div>
  {% endif %}
	<form action="./add_url" method="post">
	  <div class="form-group">
			{% csrf_token %}
			{{ form }}
		</div>
	  <button class="pull-right btn btn-primary" type="submit">Add new url</button>
	</form>
	<br>
	<br>
  <form enctype="multipart/form-data" action="./load_urls_from_file" method="post">
    <div class="form-group">
      {% csrf_token %}
      {{ file_form }}
    </div>
	  <button class="pull-right btn btn-primary" type="submit">Load urls from file</button>
  </form>
  <br>
  <br>
  <form action="./traverse" method="post">
    <div class="form-group">
      {% csrf_token %}
      {{ traversal_form }}
    </div>
	  <button class="pull-right btn btn-primary" type="submit">Traverse site</button>
  </form>
</div>

